.ItemListContainer {
    width:100vw;
    height: 50vh;
    padding-top: 25px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}